.dashboard {
	display: flex;
	/* flex-wrap: wrap; */
	width: 100%;

	.dashboard-search {
		display: flex;
		flex-direction: column;
		padding: 1rem 2rem;
		width: calc(20% - 2.4rem);
		min-width: 19rem;
		margin: 0.8rem !important;

		header {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		input {
			text-align: center;
		}
		.history {
			border-top: 2px solid $offBlack;
			margin-top: 1rem;
			padding: 1rem;
			text-align: center;

			.history-item-container {
				display: flex;
				flex-direction: column;
				padding: 0.1rem 0;

				.history-item {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: $offBlack;
					padding: 0.5rem;
					margin: 0.4rem;
					border-radius: 6px;
					transition: all 200ms;
				}

				.history-item {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: $offBlack;
					padding: 0.5rem;
					margin: 0.4rem;
					border-radius: 6px;
					transition: all 200ms;

					&:hover {
						cursor: pointer;
						filter: brightness(1.1);
						transform: translateY(-1px);
					}
				}
			}
		}
		.cloud {
			margin: 0 0 0.6rem;
			transform: translateX(0.4rem);
		}
	}
	.weather-icon {
		width: 64px;
	}
	.forecast {
		display: flex;
		flex-direction: column;
		width: calc(80% - 1.6rem);
		height: calc(100% - 1.2rem);
		margin: 0.8rem;
		margin-bottom: 0.4rem !important;
	}
	.current {
		display: flex;
		height: fit-content;
		margin-bottom: 1.6rem;

		header {
			h1,
			h4 {
				line-height: 1;
				margin-bottom: 0.5rem;
			}
			h1 {
				font-size: 5rem;
			}
			h4 {
				font-size: 2rem;
				font-weight: 100;
			}
		}
		.container {
			display: flex;
			padding: 2rem 2.5rem;
			color: $offWhite;
		}
	}
	.dashboard-header {
		display: flex;
		margin: 0 !important;
		justify-content: space-between;
		flex-direction: column;
		width: fit-content;
		min-height: fit-content !important;

		header {
			width: fit-content;

			padding-bottom: 1rem;
		}
		.sub-header {
			display: flex;
			flex-direction: column;
			min-width: 100%;
			width: min-content;
			border-top: 2px solid $offBlack;
			padding: 1rem 0 0.3rem;
			justify-content: flex-start;

			h6 {
				display: flex;
				align-items: center;
				font-size: 2.7rem;
				font-family: 'Alumni Sans Pinstripe';
				line-height: 0;
				height: 2rem;
				font-weight: 900;
				letter-spacing: -1px;

				margin: 0 0 0rem -0.6rem;
			}
			span {
				font-size: 0.8rem;
			}
			p {
				padding: 0.2rem;
				line-height: 1.5;
				width: 100%;
				margin: 0.5rem 0 0.3rem;
			}
		}
	}
	.daily,
	.hourly {
		h3 {
			display: flex;
			align-items: center;
			font-family: 'Alumni Sans Pinstripe';
			font-size: 3rem;
			margin-top: -0.5rem;
			font-weight: 900;
		}
	}
	.daily {
		margin: 0 !important;
		flex-direction: column;
		flex-grow: 1 !important;
		display: flex;
		padding: 2rem 2.5rem;

		&.container {
			width: fit-content !important;
			max-width: 100%;
		}
	}
	.hourly {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 0 0.8rem;

		h3 {
			background-color: $appPrimaryDark;
			font-size: 5rem;
			padding: 0 1.5rem;
			border-radius: 6px;
			margin: 0 !important;
		}
		.hour-container {
			flex-direction: column;
			text-align: center;
			padding: 0.7rem 0 0;
			width: 90%;
			margin: 0.2rem;
			border-radius: 5px;
			background-color: $appPrimaryDark;
			.divider {
				width: 50%;
				height: 1px;
				background-color: $offWhite;
				margin: auto;
			}
			.hour-forecast {
				margin-top: -0.5rem;
			}
			.hour-temperature {
				background-color: transparent;
				margin-top: -0.5rem !important;
				text-indent: 0.5rem;
			}
		}
	}
	.extra-stats,
	.forecast-container {
		display: flex;
		height: 100%;
		width: 100%;
		background-color: $offBlack;
		border-radius: 3px;
	}
	.extra-stats {
		flex-direction: column;
		padding: 0.5rem 0.5rem;
	}
	.forecast-container {
		display: flex;
		justify-content: space-evenly;
		min-height: 15rem;
		padding: 0 0.6rem;
	}
	.calender {
		font-size: 2rem;
		margin: 0 0.5rem;
	}
}
