:root {
	--app-primary: rgb(132, 53, 197);
	--app-primary-dark: rgb(73, 32, 107);
	--off-white: rgb(238, 234, 234);
	--off-black: rgb(31, 19, 39);
}

.forecast-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: calc(100% - 2.4rem);
	width: calc(20% - 1.2rem);
	min-width: 210px;
	margin: 1.2rem 0.6rem;
	background-color: var(--app-primary);
	border-radius: 6px 6px 6px 20px;
}
.forecast-card-header {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.6rem 0.8rem;
	z-index: 1;
	margin-bottom: 0;
}
.forecast-card-body {
	display: flex;
	width: 100%;
	height: 100%;
}
.forecast-body-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0.7rem 0.7rem;
}
.forecast-weekday {
	display: flex;
	background-color: var(--app-primary-dark);
	width: 3rem;
	height: 100%;
	border-bottom-left-radius: 6px;
}
.weekday {
	display: flex;
	justify-content: center;
	align-items: center;
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
	transform: rotate(180deg);
	font-family: 'Alumni Sans Pinstripe';
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	width: 100%;
	margin: 0;
}
.forecast-card .forecast {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 2rem;
	font-weight: 700;
	height: 3rem;
	margin: 0 !important;
	letter-spacing: 0px;
	text-indent: 2px;
	z-index: 1;
}
.forecast-icon {
	margin: -2rem -2rem -3.5rem;
	transform: translate(2.3rem, -0.8rem);
	display: flex;
	opacity: 40%;
	width: 10rem;
	z-index: 0;
	filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.274));
}
.forecast-mini-icon {
	display: flex;
	height: 100%;
	font-size: 1.5rem;
	opacity: 70%;
	margin-right: 0.25rem;
	justify-content: center;
	filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.425));
}
.high-low {
	display: flex;
	margin: 0;
	background-color: var(--app-primary-dark);
	padding: 0.3rem 0.5rem;
	border-radius: 10px;
}
.high {
	display: flex;
	height: fit-content;
}
.left-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 3rem;
	padding: 0.2rem 0 0.3rem 0;
}
.low {
	display: flex;
	justify-content: flex-start;
	padding-left: 1px;
	height: 0.8rem;
}
.high p,
.low p {
	font-family: 'Alumni Sans Pinstripe';
	font-weight: 700;
	opacity: 0.5;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	margin: 0;
}
.high p {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	line-height: 1;
}
.low p {
	letter-spacing: 0.2rem;
	font-size: 0.9rem;
	margin-right: 0.15rem;
}
.high h6,
.low h6 {
	display: flex;
	justify-content: center;
	line-height: 1;
	margin-bottom: 0 !important;
}
.high h6 {
	font-size: 3rem;
}
.low h6 {
	font-size: 0.8rem;
}
