:root {
	--app-primary: rgb(132, 53, 197);
	--app-primary-dark: rgb(73, 32, 107);
	--off-white: rgb(238, 234, 234);
	--off-black: rgb(31, 19, 39);
}
body {
	overflow-x: hidden;
}
nav {
	display: flex;
	justify-content: center;
	height: 5rem;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
	background-color: var(--app-primary-dark);
	margin-bottom: 0.6rem;
}
main {
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 8.6rem);
	width: 100vw;
	text-shadow: 1px 1px 2px black;
}
footer {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 3rem;
}
footer p {
	margin-bottom: 0;
}
button {
	border: none;
	background-color: var(--app-primary);
	color: var(--off-white);
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 900;
	font-family: 'Open Sans';
	border-radius: 6px;
	padding: 0.5rem 1rem;
	transition: all 100ms;
}
button:hover {
	filter: brightness(1.1);
}
.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--app-primary);
	color: var(--off-white);
}
h1,
h2,
h3,
h4 {
	font-family: 'Roboto';
}
div,
span,
p {
	font-family: 'Open Sans';
}
input {
	border-radius: 3px;
	border: none;
	margin: 1rem 0;
}
input:focus {
	outline: none;
}
.container {
	display: flex;
	background-color: var(--app-primary-dark);
	margin: 0.8rem;
	border-radius: 6px;
	filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.404));
	height: fit-content;
}
.brand h1,
.brand h4 {
	margin-bottom: 0;
	text-transform: uppercase;
	line-height: 1;
	background-color: var(--app-primary-dark);
}
.brand {
	display: flex;
	background-color: var(--app-primary-dark);
	width: fit-content;
	height: fit-content;
	padding: 0.7rem;
	padding-top: 0;
	margin: 0.8rem 1.5rem 0;
	border-radius: 6px;
	z-index: 5;
	transition: all 100ms;
}
.brand:hover {
	cursor: pointer;
}
.brand h1 {
	border: 2px solid var(--off-white);
	border-radius: 4px;
	padding: 0 1rem 0 0.6rem;
	height: 100%;
	font-family: 'Alumni Sans Pinstripe';
	font-size: 4.5rem;

	letter-spacing: -3px;
	font-weight: 900;
}
.brand h4 {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 100;
	font-size: 1.5rem;
	transform: translate(11.6rem, -0.6rem);
	padding: 7px 1px;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
}
.nav-links {
	display: flex;
	justify-content: space-evenly;
}
.nav-links a {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-links a h6 {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	margin: 0 0.5rem;
	padding: 0 2.5rem;
	background-color: var(--app-primary-dark);
	border-radius: 3px;
	color: var(--off-white);
	transition: all 100ms;
}
.nav-links a h6:hover {
	color: var(--off-white);
}
.nav-links a:hover {
	filter: brightness(1.1);
}
main div {
	display: flex;
	justify-content: center;
	width: 100%;
}
.fade-enter {
	transform: translateX(100vw);
}
.fade-enter.fade-enter-active {
	transform: translateX(0vw);
	transition: all 750ms cubic-bezier(0.36, 0.83, 0.07, 0.99);
}
.fade-exit {
	position: absolute;
	transform: translateX(0vw);
}
.fade-exit.fade-exit-active {
	transform: translateX(-100vw);
	transition: all 750ms cubic-bezier(0.36, 0.83, 0.07, 0.99);
}
